WebSite/WebSite.Service/Web References/SOAPWebService.Firebase/WebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="People" nillable="true" type="tns:People" />
</xs:schema>