WebSite/WebSite.Service/Web References/SOAPWebService.Firebase/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="soap" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="soap/Imports">
      <xsd:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd0" namespace="soap" />
      <xsd:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" />
      <xsd:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities.Response" />
      <xsd:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IWebService_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IWebService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_Put_InputMessage">
    <wsdl:part name="parameters" element="tns:Put" />
  </wsdl:message>
  <wsdl:message name="IWebService_Put_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWebService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="soap/IWebService/Post" message="tns:IWebService_Post_InputMessage" />
      <wsdl:output wsaw:Action="soap/IWebService/PostResponse" message="tns:IWebService_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="soap/IWebService/Get" message="tns:IWebService_Get_InputMessage" />
      <wsdl:output wsaw:Action="soap/IWebService/GetResponse" message="tns:IWebService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input wsaw:Action="soap/IWebService/GetByID" message="tns:IWebService_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="soap/IWebService/GetByIDResponse" message="tns:IWebService_GetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Put">
      <wsdl:input wsaw:Action="soap/IWebService/Put" message="tns:IWebService_Put_InputMessage" />
      <wsdl:output wsaw:Action="soap/IWebService/PutResponse" message="tns:IWebService_Put_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="soap/IWebService/Delete" message="tns:IWebService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="soap/IWebService/DeleteResponse" message="tns:IWebService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>