WebSite/WebSite.Service/Web References/WebService.SOAP_Firebase/WebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="soap" elementFormDefault="qualified" targetNamespace="soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" />
  <xs:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities.Response" />
  <xs:import schemaLocation="http://192.168.1.66:8089/SOAPWebServices.Core/WebService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Post">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" minOccurs="0" name="people" nillable="true" type="q1:People" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities.Response" minOccurs="0" name="PostResult" nillable="true" type="q2:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetResult" nillable="true" type="q3:ArrayOfKeyValueOfstringPeoplesUjWVcZj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" minOccurs="0" name="GetByIDResult" nillable="true" type="q4:People" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" minOccurs="0" name="people" nillable="true" type="q5:People" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" minOccurs="0" name="PutResult" nillable="true" type="q6:People" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities" minOccurs="0" name="DeleteResult" nillable="true" type="q7:People" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>