WebSite/WebSite.Service/Web References/WebService.SOAP_Firebase/WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPWebServices.Entities.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirebaseID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
</xs:schema>